<%= @user.name %>

<div class="row">
  <h4 class="bold">This is all the small nitty gritty stuff to get the bag to it’s destination</h4>
 
  <%= form_for(@user) do |f| %>


    <div class="form-group">
      <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-6">
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :line1 %>
      <%= f.text_field :line1, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :line2 %>
      <%= f.text_field :line2, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :town %>
      <%= f.text_field :town, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :county %>
      <%= f.text_field :county, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :organization %>
      <%= f.text_field :organization, autofocus: true, class: "form-control" %>
    </div>

   
    <!-- <%= select_tag :plan, options_for_select([['Mixy', 'mixy'],['Veggie', 'veggie'],['Fruity', 'fruity']],:selected =>(@subscription ? @subscription.plan : 'mixy')) %>
        <div class="field rounded">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, :value => (@subscription? @subscription.card_number : nil) %>
        </div>
        <div class="field rounded">
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag :card_code,  :value => (@subscription? @subscription.card_code : nil)  %>
        </div>
        <div class="field rounded">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
        </div>

        <div class="form-group rounded right">
          <%= f.submit "Order", class: "rounded button" %>
        </div> -->        <div class="form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  

   <%= link_to "Back", :back %>
</div>