<h1>View your cards</h1>
<% if @cards.data.length!=0 %>
	<h4><%= @cards.data.length %> Cards! </h4>
	<% @cards.each do |card| %>
	    <%= card.brand %>
	    **** **** **** <%= card.last4 %>
	    <%= card.exp_month %>/<%= card.exp_year %>
	<% end %>
<% else %>
	<h4> No Cards! </h4>
<% end %>
