<div class="center">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag product.image.url(:medium) %><br>
          <div class="caption">
          <h3><%= product.title %></h3>
          <p><%= "Sold by #{product.user.name}" %></p>
          <% if (user_signed_in?) && (current_user = product.user) %>
          <%= link_to 'Show', product, class: "btn btn-link" %><br>
          <%= link_to 'Edit', edit_product_path(product), class: "btn btn-link" %><br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-link" %>
<% end %>