

<div class="row">
  <nav class="top-bar column" data-topbar>
 
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">
              <i class="fi-play-video"></i> Sincuru
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>
 
      <section class="top-bar-section">
        <ul class="right">
         <li><%= link_to "About", home_about_path %></li>
      <li><%= link_to "Contact", messages_new_path %></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Edit me!", edit_user_registration_path %></li>  
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li> 
        <li><%= link_to "Cards", '/subscriptions/cards' %></li>
        <li><%= link_to "Payments", '/subscriptions/payments' %></li> 
        <li><%= link_to "new subscriptions", '/subscriptions/new' %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
        </ul>
      </section>
 
    </nav>
</div>



