<% if current_page?(root_path) %>
  <div id="header">
    <div class="large-12 columns">
      <div class="nav">
        <div class="logo left">
          <img src="assets/logo.png" alt="">
        </div>
        <ul class="product">
          <li><a href="/static_pages/productlanding?item=fruity"><img src="https://s3.amazonaws.com/Sincuru/fruitybag.png" width="166" alt=""></a></li>
          <li><a href="/static_pages/productlanding?item=veggie"><img src="https://s3.amazonaws.com/Sincuru/veggiebag.png" width="178" alt=""></a></li>
          <li><a href="/static_pages/productlanding?item=mixie"><img src="https://s3.amazonaws.com/Sincuru/mixiebag.png" width="157" alt=""></a></li>
          <li>|</li>
          <% if user_signed_in? %>
            <li><nav class="slidedown animatedDropDown">
              <ul class="main-menu">
                <li>
                  <a href="#">Account</a>
                  <ul>
                    <li><%= link_to "Edit me!", edit_user_registration_path %></li>  
                    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li> 
                    <li><%= link_to "payments", '/subscriptions/cards' %></li> 
                    <li><%= link_to "status", '/subscriptions/payments' %></li> 
                    <li><%= link_to "new subscriptions", '/subscriptions/new' %></li>
                  </ul>
                </li>
              </ul>
            </nav></li>
          <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% else %>
  <div id="header-page">
    <div class="large-12 columns">
      <div class="nav">
        <div class="logo-page left">
          <a href="/"><img src="https://s3.amazonaws.com/Sincuru/logo.png" alt=""></a>
        </div>
        <ul class="product right">
          <li><%= link_to "Sign In", new_user_session_path %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>





<!-- <div class="row">
  <nav class="top-bar column" data-topbar>
 
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">
              <i class="fi-play-video"></i> Sincuru
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>
 
      <section class="top-bar-section">
        <ul class="right">
         <li><%= link_to "About", home_about_path %></li>
      <li><%= link_to "Contact", messages_new_path %></li>  
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Edit me!", edit_user_registration_path %></li>  
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li> 
        <li><%= link_to "Cards", '/subscriptions/cards' %></li>
        <li><%= link_to "Payments", '/subscriptions/payments' %></li> 
        <li><%= link_to "new subscriptions", '/subscriptions/new' %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
        </ul>
      </section>
 
    </nav>
</div>
 -->
