<div class="clear30"></div>
<div class="row">
  <h4 class="bold">This is all the small nitty gritty stuff to get the bag to it’s destination</h4>

  <div class="clear40"></div>
  <div class="large-6 columns">

    <div class="clear"></div>
    


  <div class="facts">
      <div class="bubble"><p>Did you know? I'm a super orange root vegetable who 
  will spruce up your vision and make your skin glow!</p>
      </div>
      <img class="one" src="../assets/images/carrot.png" width="51" alt="">

      
      <div class="bubble"><p>Cook me or eat me raw - I'm red, juicy and delicious, 
  packed with a load of special antioxidants and vitamins.</p>
      </div>
      <img class="two" src="../assets/images/tomato.png" width="51" alt="">

      
      <div class="bubble"><p>Did you know? Apart from being long, yellow and 
  awesome, I also contain serotonin, which lowers stress!</p>
      </div>
      <img class="three" src="../assets/images/banana.png" width="51" alt="">
  </div>
    
  <p class="right small">by  <a href="http://twitter.com/francescayac" target="_blank">@francescayac</a></p> 
  </div>

 

<div class="large-6 columns">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
   <%= devise_error_messages! %>


    <div class="form-group rounded">
      <%= f.label :organization %>
      <%= f.text_field :organization, autofocus: true, class: "form-control" %>
    </div>

      <div class="form-group rounded">
      <%= f.label :telephone %>
      <%= f.text_field :organization, autofocus: true, class: "form-control" %>
    </div>


<!-- ADD TELEPHONE -->
    <div class="clear10"></div>

    <div class="form-group rounded">
      <%= f.label :line1 %>
      <%= f.text_field :line1, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group rounded">
      <%= f.label :line2 %>
      <%= f.text_field :line2, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group rounded">
      <%= f.label :town %>
      <%= f.text_field :town, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group rounded">
      <%= f.label :county %>
      <%= f.text_field :county, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group rounded">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, autofocus: true, class: "form-control" %>
    </div>

   
    <div class="form-group rounded right">
      <%= f.submit "Next", class: "rounded button" %>
    </div>
  <% end %>
</div>

</div>